/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* Content global */
#content {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Circle */
#big-circle {
  position: absolute;
  left: -250px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: url(../img/wheel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}

.rotating {
  animation: rotating 10s linear infinite;
}

/* Circle */
#circle {
  position: absolute;
  left: -20px;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 1px solid #0d0d0d46;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: url(../img/bearing.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}

/* Button menu */
#btn-menu {
  z-index: 100;
  width: 60px;
  height: 60px;
  padding: 10px;
  border: 2px solid #2c2c2c;
  background-color: #0D0D0D;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn-menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

#btn-menu:hover::after {
  transform: scale(4);
}

#btn-menu:hover {
  border-color: #0D0D0D;
  background: #131313;
}

/* Nav */
#menu {
  position: absolute;
  left: -120px;
  z-index: 25;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

#nav-link-list {
  width: 400px;
  height: 50px;
  position: absolute;
  left: -400px;
  list-style-type: none;
  transition: 0.5s;
}

.nav-item {
  position: absolute;
  z-index: 25;
  left: 125px;
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  transition: 1s;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 5px 20px 5px 140px;
  transition: 0.5s;
  transform-origin: 30px 50%;
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 1px solid #0d0d0d46;
  border-bottom: 1px solid #0d0d0d46;
}

.nav-item:hover {
  background-color: #c9c9c9;
}

.nav-link {
  color: #0D0D0D;
  text-decoration: none;
  font-family: "Mukta", serif;
  font-size: 30px;
  font-weight: bold;
}

/* Animations */
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}